:root {
    --back-color: #eaf2f5;
    --main-color: #f4f4f2;
    --card-color: #ffffff;
    --header-color: #4f4f4f;
    --main-text-color: #c2c2c2;
    --shopping-color: #a480d2;
    --business-color: #ec79b2;
    --other-color: #e68b65;
    --active-filter-color: #56b7c9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--back-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-window {
    width: 600px;
    /* height: 600px; */
    background-color: var(--main-color);
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    background-color: #f7f7f7;
}

.search {
    width: 100%;
    padding: 20px;
}

.search input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.filter {
    width: 100%;
}

.filter label {
    user-select: none;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 2px;
    background-color: var(--card-color);
    color: var(--main-text-color);
    border: none;
    cursor: pointer;
    text-align: left;
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    transition: all 1s;
}

.filter label:last-child {
    margin: 0;
}

.filter label:hover {
    background-color: var(--header-color);
    color: var(--card-color);
}

.filter label:hover svg * {
    stroke: var(--active-filter-color);
}

.filter label::before {
    height: 100%;
    width: 10px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.filter input[type="radio"]:checked + label::before {
    background-color: var(--active-filter-color);
}

.filter input[type="radio"]:checked + label svg * {
    stroke: var(--active-filter-color);
}

input[type="radio"] {
    display: none;
}

.pages-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.add-new-card {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--active-filter-color);
}

.add-new-card::before,
.add-new-card::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: white;
}

.add-new-card::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

.aadd-new-card::after {
    transform: translate(-50%, -50%);
}


.categories label {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    color: var(--card-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: left;
    position: relative;
    transition: all 1s;
}

input[type="radio"]#shopping + label {
    background-color: var(--shopping-color);
}

input[type="radio"]#business + label {
    background-color: var(--business-color);
}

input[type="radio"]#other + label {
    background-color: var(--other-color);
}

.pages-container {
    padding: 30px;
}

.cards-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    cursor: pointer;
    width: 100%;
    position: relative;
    background-color: var(--card-color);
    padding: 20px 10px 20px 30px;
}

.card::before {
    height: 100%;
    width: 20px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: darkcyan;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background-color: var(--active-filter-color);
}

.card-title {
    color: var(--header-color);
    font-size: 24px;
}

.card-description {
    margin-right: 40px;
    color: var(--main-text-color);
    font-size: 14px;
}

ul.card-description li::before {
    content: "\2022";
    color: var(--header-color);
    display: inline-block;
    width: 1em;
}